# .NET / Visual Studio
bin/
obj/
*.user
*.suo
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.VC.VC.opendb
.vs/
packages/
*.nupkg

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# IDE
*.idea/
*.vscode/

# Environment
.env
*.log
